@font-face {
  font-family: 'Futura Regular';
  src: url('./Futura-Regular.woff2') format('woff2'),
       url('./Futura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Light';
  src: url('./FuturaLT-Light.woff2') format('woff2'),
       url('./FuturaLT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Book';
  src: url('./Futura-Book.woff2') format('woff2'),
       url('./Futura-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

